In [45]:
import os
print(os.getcwd())

C:\Users\User

In [46]:
import pandas as pd

In [47]:
data = pd.read_csv('2019_kbo_for_kaggle_v2.csv')

In [48]:
frame = pd.DataFrame(data)

In [49]:
#2-1(1), 2015년 : 2015년의 데이터만 뽑아온다.
frame_year2015 = frame[(frame['year']== 2015)]

In [50]:
#2-1(1), 2015년 : frame_year2015의 H, batter_name 열을 뽑는다.
frame_year2015_columnH = frame_year2015[['H', 'batter_name']]

In [51]:
#2-1(1), 2015년 : frame_year2015_columnH를 H열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2015_columnH_final = frame_year2015_columnH.sort_values(by='H', ascending=False).head(10)

In [52]:
#2-1(1), 2015년 : frame_year2015의 avg, batter_name 열을 뽑는다.
frame_year2015_columnavg = frame_year2015[['avg', 'batter_name']]

In [53]:
#2-1(1), 2015년 : frame_year2015_columnavg를 avg열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2015_columnavg_final = frame_year2015_columnavg.sort_values(by='avg', ascending=False).head(10)

In [54]:
#2-1(1), 2015년 : frame_year2015의 HR, batter_name 열을 뽑는다.
frame_year2015_columnHR = frame_year2015[['HR', 'batter_name']]

In [55]:
#2-1(1), 2015년 : frame_year2015_columnHR를 HR열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2015_columnHR_final = frame_year2015_columnHR.sort_values(by='HR', ascending=False).head(10)

In [56]:
#2-1(1), 2015년 : frame_year2015의 OBP, batter_name 열을 뽑는다.
frame_year2015_columnOBP = frame_year2015[['OBP', 'batter_name']]

In [57]:
#2-1(1), 2015년 : frame_year2015_columnOBP를 OBP열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2015_columnOBP_final = frame_year2015_columnOBP.sort_values(by='OBP', ascending=False).head(10)

In [58]:
#2-1(1), 2015년 : 2015년의 특정 네 개의 열에 대해 top10 player를 출력한다.
frame_year2015_columnH_final, frame_year2015_columnavg_final, frame_year2015_columnHR_final, frame_year2015_columnOBP_final

(          H batter_name
 938   188.0         유한준
 858   184.0         나성범
 1626  180.0         테임즈
 1616  174.0           필
 109   174.0         최형우
 149   168.0         이용규
 1635  165.0         아두치
 348   164.0         이명기
 751   159.0         박용택
 797   158.0         박민우,
         avg batter_name
 763   0.500         이진석
 1626  0.381         테임즈
 413   0.375         배영섭
 938   0.362         유한준
 1004  0.349         구자욱
 1348  0.348         채태인
 1630  0.348         마르테
 1697  0.342         박건우
 149   0.341         이용규
 708   0.340         서상우,
         HR batter_name
 1626  47.0         테임즈
 959   35.0         강민호
 109   33.0         최형우
 284   31.0         최준석
 858   28.0         나성범
 171   28.0         이범호
 1635  28.0         아두치
 834   26.0         박석민
 911   26.0         황재균
 1895  26.0         이승엽,
         OBP batter_name
 763   0.500         이진석
 1626  0.497         테임즈
 1682  0.457         김태균
 413   0.444         배영섭
 834   0.441         박석민
 938   0.430         유한준
 284   0.428         최준석
 149   0.427         이용규
 721   0.423         안익훈
 959   0.421         강민호)

In [59]:
#2-1(1), 2016년 : 2016년의 데이터만 뽑아온다.
frame_year2016 = frame[(frame['year']== 2016)]

In [60]:
#2-1(1), 2016년 : frame_year2016의 H, batter_name 열을 뽑는다.
frame_year2016_columnH = frame_year2016[['H', 'batter_name']]

In [61]:
#2-1(1), 2016년 : frame_year2016_columnH를 H열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2016_columnH_final = frame_year2016_columnH.sort_values(by='H', ascending=False).head(10)

In [62]:
#2-1(1), 2016년 : frame_year2016의 avg, batter_name 열을 뽑는다.
frame_year2016_columnavg = frame_year2016[['avg', 'batter_name']]

In [63]:
#2-1(1), 2016년 : frame_year2016_columnavg를 avg열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2016_columnavg_final = frame_year2016_columnavg.sort_values(by='avg', ascending=False).head(10)

In [64]:
#2-1(1), 2016년 : frame_year2016의 HR, batter_name 열을 뽑는다.
frame_year2016_columnHR = frame_year2016[['HR', 'batter_name']]

In [65]:
#2-1(1), 2016년 : frame_year2016_columnHR를 HR열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2016_columnHR_final = frame_year2016_columnHR.sort_values(by='HR', ascending=False).head(10)

In [66]:
#2-1(1), 2016년 : frame_year2016의 OBP, batter_name 열을 뽑는다.
frame_year2016_columnOBP = frame_year2016[['OBP', 'batter_name']]

In [67]:
#2-1(1), 2016년 : frame_year2016_columnOBP를 OBP열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2016_columnOBP_final = frame_year2016_columnOBP.sort_values(by='OBP', ascending=False).head(10)

In [68]:
#2-1(1), 2016년 : 2016년의 특정 네 개의 열에 대해 top10 player를 출력한다.
frame_year2016_columnH_final, frame_year2016_columnavg_final, frame_year2016_columnHR_final, frame_year2016_columnOBP_final

(          H batter_name
 110   195.0         최형우
 1683  193.0         김태균
 1411  186.0         손아섭
 332   182.0         서건창
 425   179.0         정의윤
 581   178.0         정근우
 859   177.0         나성범
 51    177.0         김주찬
 752   176.0         박용택
 430   176.0         고종욱,
         avg batter_name
 1012  1.000         권정웅
 1787  0.458         최원준
 322   0.429         김웅빈
 793   0.400         박광열
 472   0.386         나주환
 110   0.376         최형우
 1784  0.375         정진호
 942   0.375         박준혁
 1683  0.365         김태균
 24    0.360         김선빈,
         HR batter_name
 499   40.0          최정
 264   37.0         김재환
 1633  33.0        로사리오
 172   33.0         이범호
 835   32.0         박석민
 110   31.0         최형우
 425   27.0         정의윤
 1896  27.0         이승엽
 221   27.0         오재일
 1912  26.0        히메네스,
         OBP batter_name
 1012  1.000         권정웅
 1784  0.531         정진호
 1683  0.475         김태균
 110   0.464         최형우
 1787  0.458         최원준
 1693  0.458         김태완
 657   0.456         최재원
 1325  0.451         신본기
 99    0.451         나지완
 942   0.444         박준혁)

In [69]:
#2-1(1), 2017년 : 2017년의 데이터만 뽑아온다.
frame_year2017 = frame[(frame['year']== 2017)]
#2-1(1), 2017년 : frame_year2017의 H, batter_name 열을 뽑는다.
frame_year2017_columnH = frame_year2017[['H', 'batter_name']]
#2-1(1), 2017년 : frame_year2017_columnH를 H열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2017_columnH_final = frame_year2017_columnH.sort_values(by='H', ascending=False).head(10)
#2-1(1), 2017년 : frame_year2017의 avg, batter_name 열을 뽑는다.
frame_year2017_columnavg = frame_year2017[['avg', 'batter_name']]
#2-1(1), 2017년 : frame_year2017_columnavg를 avg열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2017_columnavg_final = frame_year2017_columnavg.sort_values(by='avg', ascending=False).head(10)
#2-1(1), 2017년 : frame_year2017의 HR, batter_name 열을 뽑는다.
frame_year2017_columnHR = frame_year2017[['HR', 'batter_name']]
#2-1(1), 2017년 : frame_year2017_columnHR를 HR열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2017_columnHR_final = frame_year2017_columnHR.sort_values(by='HR', ascending=False).head(10)
#2-1(1), 2017년 : frame_year2017의 OBP, batter_name 열을 뽑는다.
frame_year2017_columnOBP = frame_year2017[['OBP', 'batter_name']]
#2-1(1), 2017년 : frame_year2017_columnOBP를 OBP열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2017_columnOBP_final = frame_year2017_columnOBP.sort_values(by='OBP', ascending=False).head(10)
#2-1(1), 2017년 : 2017년의 특정 네 개의 열에 대해 top10 player를 출력한다.
frame_year2017_columnH_final, frame_year2017_columnavg_final, frame_year2017_columnHR_final, frame_year2017_columnOBP_final

(          H batter_name
 1412  193.0         손아섭
 265   185.0         김재환
 333   179.0         서건창
 381   179.0         이정후
 1617  178.0        버나디나
 1699  177.0         박건우
 25    176.0         김선빈
 111   176.0         최형우
 753   175.0         박용택
 1006  175.0         구자욱,
         avg batter_name
 25    0.370         김선빈
 1699  0.366         박건우
 799   0.363         박민우
 860   0.347         나성범
 753   0.344         박용택
 111   0.342         최형우
 1684  0.340         김태균
 265   0.340         김재환
 1727  0.335         이상호
 1412  0.335         손아섭,
         HR batter_name
 500   46.0          최정
 1627  35.0        스크럭스
 265   35.0         김재환
 1338  34.0         이대호
 1631  31.0          러프
 502   31.0          로맥
 442   29.0         한동민
 100   27.0         나지완
 1617  27.0        버나디나
 111   26.0         최형우,
         OBP batter_name
 111   0.450         최형우
 799   0.441         박민우
 265   0.429         김재환
 500   0.427          최정
 753   0.424         박용택
 1699  0.424         박건우
 1412  0.420         손아섭
 25    0.420         김선빈
 860   0.415         나성범
 1684  0.413         김태균)

In [70]:
#2-1(1), 2018년 : 2018년의 데이터만 뽑아온다.
frame_year2018 = frame[(frame['year']== 2018)]
#2-1(1), 2018년 : frame_year2018의 H, batter_name 열을 뽑는다.
frame_year2018_columnH = frame_year2018[['H', 'batter_name']]
#2-1(1), 2018년 : frame_year2018_columnH를 H열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2018_columnH_final = frame_year2018_columnH.sort_values(by='H', ascending=False).head(10)
#2-1(1), 2018년 : frame_year2018의 avg, batter_name 열을 뽑는다.
frame_year2018_columnavg = frame_year2018[['avg', 'batter_name']]
#2-1(1), 2018년 : frame_year2018_columnavg를 avg열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2018_columnavg_final = frame_year2018_columnavg.sort_values(by='avg', ascending=False).head(10)
#2-1(1), 2018년 : frame_year2018의 HR, batter_name 열을 뽑는다.
frame_year2018_columnHR = frame_year2018[['HR', 'batter_name']]
#2-1(1), 2018년 : frame_year2018_columnHR를 HR열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2018_columnHR_final = frame_year2018_columnHR.sort_values(by='HR', ascending=False).head(10)
#2-1(1), 2018년 : frame_year2018의 OBP, batter_name 열을 뽑는다.
frame_year2018_columnOBP = frame_year2018[['OBP', 'batter_name']]
#2-1(1), 2018년 : frame_year2018_columnOBP를 OBP열 기준 내림차순으로 정렬하고, 상위 10행을 뽑는다.
frame_year2018_columnOBP_final = frame_year2018_columnOBP.sort_values(by='OBP', ascending=False).head(10)
#2-1(1), 2018년 : 2018년의 특정 네 개의 열에 대해 top10 player를 출력한다.
frame_year2018_columnH_final, frame_year2018_columnavg_final, frame_year2018_columnHR_final, frame_year2018_columnOBP_final

(          H batter_name
 1382  190.0         전준우
 1413  182.0         손아섭
 1339  181.0         이대호
 112   179.0         최형우
 861   177.0         나성범
 266   176.0         김재환
 762   175.0         채은성
 245   173.0         최주환
 1629  172.0         로하스
 1001  172.0         박해민,
         avg batter_name
 507   0.500         안상현
 82    0.424         유재신
 691   0.400         양원혁
 175   0.385         장승현
 188   0.375         전민재
 260   0.367         정수빈
 1353  0.364         전병우
 1853  0.362         김현수
 782   0.358         양의지
 1414  0.357          허일,
         HR batter_name
 266   44.0         김재환
 1629  43.0         로하스
 1708  43.0         박병호
 503   43.0          로맥
 443   41.0         한동민
 1339  37.0         이대호
 501   35.0          최정
 1097  34.0         이성열
 1382  33.0         전준우
 1632  33.0          러프,
         OBP batter_name
 608   1.000         최윤석
 82    0.525         유재신
 691   0.500         양원혁
 507   0.500         안상현
 1708  0.457         박병호
 1353  0.442         전병우
 252   0.429         국해성
 260   0.429         정수빈
 175   0.429         장승현
 782   0.427         양의지)

In [71]:
#2-1(2): 2018년의 데이터만 뽑아온다.
frame_year2018 = frame[(frame['year']== 2018)]
#frame_year2018에서 cp가 포수인 행을 뽑아온다.
frame_year2018_catcher = frame_year2018[frame_year2018['cp'] == '포수']
#frame_year2018_catcher를 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_catcher_best = frame_year2018_catcher.sort_values(by='war', ascending=False).head(1)
#frame_year2018_catcher_best에서 batter_name을 뽑는다.
bestCatcher = frame_year2018_catcher_best['batter_name']
###
#frame_year2018에서 cp가 1루수인 행을 뽑아온다.
frame_year2018_baseman1 = frame_year2018[frame_year2018['cp'] =='1루수']
#frame_year2018_baseman1을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_baseman1_best = frame_year2018_baseman1.sort_values(by='war', ascending=False).head(1)
#frame_year2018_baseman1_best에서 batter_name을 뽑는다.
bestBaseman1 = frame_year2018_baseman1_best['batter_name']
###
#frame_year2018에서 cp가 2루수인 행을 뽑아온다.
frame_year2018_baseman2 = frame_year2018[frame_year2018['cp'] =='2루수']
#frame_year2018_baseman2을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_baseman2_best = frame_year2018_baseman2.sort_values(by='war', ascending=False).head(1)
#frame_year2018_baseman2_best에서 batter_name을 뽑는다.
bestBaseman2 = frame_year2018_baseman2_best['batter_name']
###
#frame_year2018에서 cp가 3루수인 행을 뽑아온다.
frame_year2018_baseman3 = frame_year2018[frame_year2018['cp'] =='3루수']
#frame_year2018_baseman3을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_baseman3_best = frame_year2018_baseman3.sort_values(by='war', ascending=False).head(1)
#frame_year2018_baseman3_best에서 batter_name을 뽑는다.
bestBaseman3 = frame_year2018_baseman3_best['batter_name']
###
#frame_year2018에서 cp가 유격수인 행을 뽑아온다.
frame_year2018_shortstop = frame_year2018[frame_year2018['cp'] =='유격수']
#frame_year2018_shortstop을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_shortstop_best = frame_year2018_shortstop.sort_values(by='war', ascending=False).head(1)
#frame_year2018_shortstop_best에서 batter_name을 뽑는다.
bestShortstop = frame_year2018_shortstop_best['batter_name']
###
#frame_year2018에서 cp가 좌익수인 행을 뽑아온다.
frame_year2018_left = frame_year2018[frame_year2018['cp'] =='좌익수']
#frame_year2018_left을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_left_best = frame_year2018_left.sort_values(by='war', ascending=False).head(1)
#frame_year2018_left_best에서 batter_name을 뽑는다.
bestLeft = frame_year2018_left_best['batter_name']
###
#frame_year2018에서 cp가 우익수인 행을 뽑아온다.
frame_year2018_right = frame_year2018[frame_year2018['cp'] =='우익수']
#frame_year2018_right을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_right_best = frame_year2018_right.sort_values(by='war', ascending=False).head(1)
#frame_year2018_right_best에서 batter_name을 뽑는다.
bestRight = frame_year2018_right_best['batter_name']
###
#frame_year2018에서 cp가 중견수인 행을 뽑아온다.
frame_year2018_middle = frame_year2018[frame_year2018['cp'] =='중견수']
#frame_year2018_middle을 war기준 내림차순 정렬 후, 제일 위 행을 뽑는다.
frame_year2018_middle_best = frame_year2018_middle.sort_values(by='war', ascending=False).head(1)
#frame_year2018_middle_best에서 batter_name을 뽑는다.
bestMiddle = frame_year2018_middle_best['batter_name']
###
#position별 승리 기여도가 높은 선수들의 이름을 출력한다.
bestCatcher, bestBaseman1, bestBaseman2, bestBaseman3, bestShortstop, bestLeft, bestRight, bestMiddle

(782    양의지
 Name: batter_name, dtype: object,
 1708    박병호
 Name: batter_name, dtype: object,
 245    최주환
 Name: batter_name, dtype: object,
 195    허경민
 Name: batter_name, dtype: object,
 327    김하성
 Name: batter_name, dtype: object,
 266    김재환
 Name: batter_name, dtype: object,
 1413    손아섭
 Name: batter_name, dtype: object,
 1629    로하스
 Name: batter_name, dtype: object)

In [72]:
#2-1(3)
#salary와의 correlation을 비교하고 싶은 열만 뽑는다.
frame_filtered = frame[['R', 'HR', 'RBI', 'SB', 'war', 'avg', 'OBP', 'SLG']]
#salary와 각 열의 공분산을 계산한다.
frame_cor = frame_filtered.corrwith(frame.salary)
#frame_cor의 값 중 가장 큰 값의 인덱스를 추출한다.
frame_cor.idxmax()

'RBI'